In [1]:
2*3

6

In [2]:
bil1 = 3.6

In [3]:
bil1

3.6

In [4]:
type(bil1)

float

In [5]:
bil2 = bil1/17

In [6]:
bil2

0.21176470588235294

In [7]:
type(bil2)

float

In [8]:
6/2

3.0

In [9]:
type(6/2)

float

In [10]:
6%2

0

In [11]:
10/3

3.3333333333333335

In [12]:
10%3

1

In [17]:
2**2

4

In [16]:
2*2*2

8

In [18]:
2**2

4

In [19]:
2**3

8

In [20]:
2+10*3+4

36

In [21]:
a = 3

In [22]:
a = 3

In [23]:
item_saya = 15

In [24]:
item_saya = ['ikan','ayam','bebek']

In [25]:
item_saya

['ikan', 'ayam', 'bebek']

In [26]:
item_saya[2]

'bebek'

In [27]:
"Assalamu'alaikum"

"Assalamu'alaikum"

In [28]:
"Let's do it!"

"Let's do it!"

In [29]:
"Belajar Python itu mudah"

'Belajar Python itu mudah'

In [30]:
"Belajar Python itu mudah"[2]

'l'

In [31]:
"Belajar Python itu mudah"[1:5]

'elaj'

In [32]:
"Belajar Python itu mudah"[:]

'Belajar Python itu mudah'

In [33]:
"Belajar Python itu mudah"[2:-1:2]

'ljrPto t ua'

In [34]:
"Belajar Python itu mudah"[::-1]

'hadum uti nohtyP rajaleB'

In [35]:
item = [1,2,3,4,5,6,7,8,9,10]

In [36]:
item

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [37]:
item[3::3]

[4, 7, 10]

In [38]:
var1 = [1,2,3,4,5]

In [39]:
var1[1] = 100

In [40]:
var1

[1, 100, 3, 4, 5]

In [41]:
nama1 = 'Bambang'

In [42]:
nama1[:3]

'Bam'

In [45]:
nama1[2]= 'z'

TypeError: 'str' object does not support item assignment

In [46]:
nama_lengkap = nama1+ 'Suyoto'

In [47]:
nama_lengkap

'BambangSuyoto'

In [48]:
nama1+ ' sedang belanja di pasar' *2

'Bambang sedang belanja di pasar sedang belanja di pasar'

In [49]:
nama1 = nama1 + ' sedang menjalani proses pendidikan pythin'

In [50]:
nama1

'Bambang sedang menjalani proses pendidikan pythin'

In [51]:
var1 = 'Makanan sehat itu adalah 4 sehat 5 sempurna'

In [52]:
var1

'Makanan sehat itu adalah 4 sehat 5 sempurna'

In [53]:
var1.upper()

'MAKANAN SEHAT ITU ADALAH 4 SEHAT 5 SEMPURNA'

In [54]:
var1

'Makanan sehat itu adalah 4 sehat 5 sempurna'

In [55]:
var1 = var1.upper()

In [56]:
var1

'MAKANAN SEHAT ITU ADALAH 4 SEHAT 5 SEMPURNA'

In [57]:
var1.upper

In [58]:
var1.split()

['MAKANAN', 'SEHAT', 'ITU', 'ADALAH', '4', 'SEHAT', '5', 'SEMPURNA']

In [59]:
var1

'MAKANAN SEHAT ITU ADALAH 4 SEHAT 5 SEMPURNA'

In [60]:
var1.split('A')

['M', 'K', 'N', 'N SEH', 'T ITU ', 'D', 'L', 'H 4 SEH', 'T 5 SEMPURN', '']

In [61]:
var1 = 'Ayam Goreng KFC dan MCD mana yang lebih enak?'

In [62]:
print(var1)

Ayam Goreng KFC dan MCD mana yang lebih enak?

In [63]:
var1

'Ayam Goreng KFC dan MCD mana yang lebih enak?'

In [64]:
print('Ini ada{} buah'.format('10'))

Ini ada10 buah

In [65]:
print ('ini ada 10 buah')

ini ada 10 buah

In [66]:
print ('urutan pemenang lomba lari adalah {} {} {}'.format('Aji','Bambang','Budi'))

urutan pemenang lomba lari adalah Aji Bambang Budi

In [67]:
print ('urutan pemenang lomba lari adalah {2} {0} {1}'.format('Aji','Bambang','Budi'))

urutan pemenang lomba lari adalah Budi Aji Bambang

In [68]:
print ('urutan pemenang lomba lari adalah {a} {b} {c}'.format(c='Aji',b='Bambang',a='Budi'))

urutan pemenang lomba lari adalah Budi Bambang Aji

In [69]:
phi = 22/7

In [70]:
phi

3.142857142857143

In [71]:
print('untuk menghitung luas lingkaran, gunakanlah phi = {} '.format(phi))

untuk menghitung luas lingkaran, gunakanlah phi = 3.142857142857143

In [72]:
luas1 = 667.9

In [73]:
luas2 = 998.7

In [74]:
print('Luas tanah yang dimiliki {a} {b}'.format(a=luas1,b=luas2))

Luas tanah yang dimiliki 667.9 998.7

In [75]:
keranjang = [1,2,3'apel']

SyntaxError: invalid syntax (<ipython-input-75-76bc1b03467a>, line 1)

In [76]:
keranjang = [1,2,3, 'apel']

In [77]:
lem(keranjang)

NameError: name 'lem' is not defined

In [78]:
len(keranjang)

4

In [79]:
for i in range(len(keranjang)):
    print(keranjang[i])

1
2
3
apel

In [80]:
keranjang

[1, 2, 3, 'apel']

In [81]:
jeruk = ['jeruk']

In [82]:
keranjang = keranjang + jeruk

In [83]:
keranjang

[1, 2, 3, 'apel', 'jeruk']

In [84]:
keranjang.append('pisang')

In [85]:
keranjang

[1, 2, 3, 'apel', 'jeruk', 'pisang']

In [86]:
buah_lagi = ['anggur','nanas','jeruk bali','apel','apel washington']

In [87]:
keranjang = keranjang + buah_lagi

In [88]:
keranjang

[1,
 2,
 3,
 'apel',
 'jeruk',
 'pisang',
 'anggur',
 'nanas',
 'jeruk bali',
 'apel',
 'apel washington']

In [89]:
len(keranjang)

11

In [90]:
baru

NameError: name 'baru' is not defined

In [91]:
baru.pop(1)

NameError: name 'baru' is not defined

In [92]:
baru = [1,2,3,4,5,6]

In [93]:
baru

[1, 2, 3, 4, 5, 6]

In [94]:
baru.pop(1)

2

In [95]:
baru

[1, 3, 4, 5, 6]

In [96]:
variabel = [1,2,5,7,4,9]

In [99]:
variabel.sort()

In [100]:
variabel

[1, 2, 4, 5, 7, 9]

In [102]:
var_baru = ['a','b','c']

In [106]:
var_baru.reverse()

In [107]:
var_baru

['c', 'b', 'a']

In [109]:
isi = [1,2,3,4,5,{6,7,8}]

In [110]:
isi

[1, 2, 3, 4, 5, {6, 7, 8}]

In [111]:
isi[2]

3

In [112]:
isi[2::]

[3, 4, 5, {6, 7, 8}]

In [113]:
isi[5]

{6, 7, 8}

In [118]:
isi[5]

{6, 7, 8}

In [120]:
isi2 = [1,2,3,4,5,[6,7,8,[9,10,11,'target',12]]]

In [121]:
isi2

[1, 2, 3, 4, 5, [6, 7, 8, [9, 10, 11, 'target', 12]]]

In [122]:
isi[2]

3

In [124]:
isi[5]

{6, 7, 8}

In [125]:
var1 = list()

In [126]:
type(var1)

list

In [127]:
var2 = []

In [128]:
type(var2)

list

In [129]:
if var1 == var2:
    print('Ternyata var1 sama dengan var2')

Ternyata var1 sama dengan var2

In [130]:
ganjil = [1,3,5,7,9]

In [131]:
genap = [2,4,6,8,10]

In [132]:
angka = ganjil + genap

In [133]:
angka

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]

In [134]:
bilangan = [ganjil,genap]

In [135]:
bilangan

[[1, 3, 5, 7, 9], [2, 4, 6, 8, 10]]